[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pandas = "*"
psycopg2 = "*"
cherrypicker = "*"
requests = "*"

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
